body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(4, 4, 124, 0.93);
 }
 h1{
     font-family: 'waltograph', cursive;
     font-size: 10em;
     font-weight: 600;
     color: rgb(253, 254, 255);
     
}

@font-face {
    font-family:'waltograph';
    src: url(../fonts/Walter.ttf);


}
   