body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(4, 4, 171);
 }
 h1{
     font-family: 'waltograph', cursive;
     font-size: 10em;
     font-weight: 600;
     color: aliceblue;
     
}

@font-face {
    font-family:'waltograph';
    src: url(../fonts/Walter.ttf);


}
   