body{
   background-color: rgba(177, 89, 225, 0.9);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 10em;
    color: aliceblue;
}