* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* body {
    background-image: url('/img/sodimac-homecenter.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */
.principal{
    width: 100%;
    display: grid;
    grid-template:"empty-1  barra empty 1"70px/
                   1fr       1250px    1fr ;
    justify-content: center;
  
}
.barra {
    width: 100%;
    grid-area: barra;
    display: grid;
    grid-template:"logo    busca    ubicacion   carrito   cmr   cuenta"70px/
                    220px    1fr       160px        110px   160px   106px ;
    justify-content: center;
}

.box {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.logo-hc{
    width: 100%;
}
.compra {
    background-color: rgb(221,0,33);
    color: white;
    width: 26px;
    height: 26px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


input[type="text"] {
    padding: 11px;
    margin-left: 2px;
    width: 100%;
    height: 100%;
    border: none;
}

input[type="text"]:focus {
    outline: none;
}

.buscador {
    grid-area: busca;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template:"buscador  lupa" 70px/
                    1fr         40px;
    margin-left: 20px;
    transition: width 0.10s;
}

.busca{
    width: 100%;
    align-items: center;
    justify-content: center;
    grid-area: buscador;
}

.lupa{
    width: 100%;
    grid: lupa;
    height: 38px;
    font-size: 1.3em;
    justify-content: center;
    align-items: center;
    display: flex;
}

.lupa:hover,.ubicacion:hover,.location:hover,.comprar:hover,.userlogo:hover,.cmr:hover,.logo-hc:hover{
    cursor: pointer;
}
.ubicacion{
    padding-left: 40px;
    display: flex;
    grid-area: ubicacion;
}
.location{
    font-size: 1.4em;
}
.para {
    font-size: 0.7em;
    text-align: left;
}
.cuidad{
    color: rgb(0,114,206);
    font-size: 1.3em;
}

.caul {
    font-size: 0.6em;
    text-align: left;
}

.cmr {
    display: flex;
}

.puntos,.carrito {
    font-size: 1.5em;
}

.comprar{
    margin-left: 10px;
    margin-right: 10px;
}

.burger,.x-salida,.buscador-movil,.logo-hc-mini{
    display: none;
}
.buscador.expandido {
    width: 100%;}

@media only screen and (max-width: 1250px) {
    .logo-hc{
        display: none;
    }

    .logo-hc-mini{
        display: flex;
        width: 100%;
    }

    .para,.cuidad,.caul,.puntos,.user,.cmr, .ubicacion,.busca{
        display: none;
    }
    .principal{
        width: 100%;
        display: grid;
        grid-template:"empty-1  barra empty 1"55px/
                       10px       1fr    10px ;
        justify-content: center;
        /* border-bottom: 1px solid grey; */
        
    }
    .burger{
        grid-area: burger;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8em;
    }
    .barra {
        width: 100%;
        grid-area: barra;
        display: grid;
        grid-template:"burger logo    lupa   carrito   cuenta"55px/
                       50px  40px     1fr       80px     40px ;
        justify-content: center;
        
    }
    .buscador{
        grid-area: lupa;
        text-align: right;
        margin: 0;
        display: flex;
        transition: width0.5s;
        min-height: 70px; /* Establece una altura mínima para el contenedor del buscador */
    transition: width 0.5s, min-height 0.5s; 
        
    }

    .lupa{
        
        right: 10px;
        display: flex;
        width: 100%;
        justify-content: right;
        margin-right: 30px;
    }

    .comprar{
        grid-area: carrito;
        padding: 0;
        margin: 0;
    }

    .userlogo{
        grid-area: cuenta;
        padding: 0;
        margin: 0;
        font-size: 1.2em;
    }
    .buscador-movil{
        background-color: white;
        width: 100%;
        height: 55px;
        position: absolute;
        display: none;
        align-items: center;
        justify-content: center ;
        grid-template: "lupaa buscadormini1 exit" 55px/
                        50px    1fr            30px;
                        min-height: 08px; /* Establece una altura mínima para el contenedor del buscador */
                        transition: width 0.10s, min-height 0.10s; 
    }
    .buscadormini{
        grid-area: buscadormini1;
    }

    .lupa2{
        grid-area: lupaa;
        justify-content: center;
        display: flex;
        font-size: 1.2em;
    }

    .x-salid{
        grid-area: exit;
    }

    .x-salid:hover{
        cursor: pointer;
    }
    input[type="text"] {
        padding: 10 px;
        margin-left: 2px;
        width: 100%;
        border: none;
        font-size: 1.1em;
    }
    .seekerCell-hidden{
        background-color: white;
        width: 100%;
        height: 55px;
        position: absolute;
        display: grid;
        align-items: center;
        justify-content: center ;
        grid-template: "lupaa buscadormini1 exit" 55px/
                        50px    1fr            30px;
    }    
}

/* .container-ana{
    cursor: pointer;
    background-color: bisque;
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(10, 111, 213);
    color: white;
}
.container-ana:hover{
    opacity: .8;
}
.x-anna{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.9vw;
    padding: 10px;
    color: #f5f5f5;
    border-radius: 100px;
    height: 4vh;
    background-color:rgb(28, 83, 138);
    position: fixed;
    top: 91vh;
    left: 93vw;
    font-size: 1.5rem;
    cursor: pointer;
}
.x-anna:hover{
    transition: 1s;
    background-color: #f5f5f5;
    color:rgb(71, 156, 241);
}
.container-x-anna{
    display: none;
}
.contenedor-ana{
    position: fixed;
    left: 75vw;
    top: 42vh;
    height: 48vh;
    width: 22vw;
    background-color: rgb(163, 9, 9);
    border-radius: 10px;
}
.contenedor-ana1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 89vh;
    left: 79vw;
    width: 18vw;
    height: 100px;
    
}
.mensaje-ana{
    width: 70%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.message{
    font-size: .8rem;
    background-color: rgb(255, 255, 255);
    padding: 12px;
    border: 1px solid rgb(225, 225, 225);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}*/

/* comentado difer4ente */
/* .container-chat-all{
    display: none;
    position: fixed;
    left: 75vw;
    top: 37vh;
    height: 53vh;
    width: 22vw;
}
.img-chat{
    width: 4vw;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-chat img{
    width: 100%;
}
.input-chat{
    background-color:#EAEEF3 ;
    margin: 10px;
}
.input-chat::placeholder{
    font-size: 1.5vh;
}
.header-chat{
    align-items: center;
    display: flex;
    background-color: #005DAD;
    height: 17%;
}
.header-chat h4{
    font-weight: 100;
    font-size: 1.5rem;
    margin: 10px;
    color: #EAEEF3;
}
.body-chat{
    background-color: #EAEEF3;
    height: 70%;
}
.footer-chat{
    background-color: #EAEEF3;
    height: 13%;
}
.line-footer{
    height: 1.5px;
    background-color: #005DAD;
}
.container-chat{
    position: fixed;
    right: 0;
    margin-right: 30px;
    margin-bottom: 17.5px;
    bottom: 0;
    width: 99px;
    height: 64px;
    top: 89vh;
    left: 79vw;
    width: 18vw;
    height: 12%;
}
.container-message{
    width: 70%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.message{
    font-size: .8rem;
    background-color: rgb(255, 255, 255);
    padding: 12px;
    border: 1px solid rgb(225, 225, 225);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.container-ana{
    cursor: pointer;
    background-color: bisque;
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: rgb(10, 111, 213);
    color: white;
}
.container-ana:hover{
    opacity: .8;
}
.x-anna{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.9vw;
    padding: 10px;
    color: #f5f5f5;
    border-radius: 100px;
    height: 4vh;
    background-color:rgb(10, 111, 213);
    position: fixed;
    top: 91vh;
    left: 93vw;
    font-size: 1.5rem;
    cursor: pointer;
}
.x-anna:hover{
    transition: 1s;
    background-color: #f5f5f5;
    color:rgb(10, 111, 213);
}
.container-x-anna{
    display: none;
} */

.form-ana {
    position: fixed;
    right: 20px;
    height: 100vh;
    width: 406px;
    display: grid;
    grid-template: "frm-header" 70px
                   "frm-body" minmax(150px, 50vh)
                   "frm-btn" 30px
                   "frm-input" 60px
                   "frm-exit" 80px /
                   406px;
                   grid-gap: 10px;
}
.form-header {
    grid-area: frm-header;
    background-color: rgb(0,93,173);
    display: flex;
    flex-direction: row;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.img-ana-I {
    width: 60px;
    margin-top: 7px;
    margin-left: 7px;
}
.title-form {
    font-family: poppins;
    font-size: 1.2em;
    font-weight: 400;
    margin-left: 30px;
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
}
.form-body {
    grid-area: frm-body;
    background-color: rgb(234,238,243);
    display: grid;
    grid-gap: 10px;
    grid-template: "empty-left      form-text       empty-right"
                   "icons-slider    icons-slider    icons-slider" 125px /
                    50px            1fr              40px;
}
.img-ana-II {
    width: 100px;
}
.form-text {
    grid-area: form-text;
    margin-top: 5px;
    font-size: 0.9em;
}
.text-opciones {
    background-color: white;
    width: 250px;
    border-radius: 10px;
    padding: 10px 10px 0 10px;
    letter-spacing: 0.08em;
    margin-top: 10px
}
.finger-style {
    color: rgb(246, 191, 11);
}
.text-form-black {
    font-weight: 900;
    display: block;
    margin-top: 30px;
    letter-spacing: 0.08em;
}
.img-right-arrow {
    width: 20px;
    height: 20px;
    position: relative;
    top: 7px;
    left: 5px;
}
.reloj-msj {
    font-size: .7em;
    position: relative;
    bottom: 0;
    left: 200px;
}
.icons-slider {
    grid-area: icons-slider;
    display: grid;
    grid-template: "box-icon-arrow-left box-main-slider box-icon-arrow-right" /
                    50px                310px            50px;
}
.box-main-slider {
    grid-area: box-main-slider;
    width: 310px;
    overflow: hidden;
    display: grid;
    grid-area: "icon-arrow-left slider";
}
.box-icon-arrow-left {
    grid-area: box-icon-arrow-left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-icon-arrow-right {
    grid-area: box-icon-arrow-right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-arrow-left {
    grid-area: icon-arrow-left;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}
.icon-arrow-left:hover {
    cursor: pointer;
}
.icon-arrow-right {
    grid-area: icon-arrow-right;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}
.icon-arrow-right:hover {
    cursor: pointer;
}   
.fa-chevron-left {
    font-size: 1.1em;
    color: rgb(0,93,173);
    font-weight: 900;
}
.fa-chevron-right {
    font-size: 1.1em;
    color: rgb(0,93,173);
    font-weight: 900;
}
.slider {
    grid-area: slider;
    font-size: .9em;
    height: 123px;
    width: 300px; 
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    flex-flow: column wrap;
    position: relative;
}
.slider-view-1 {
    transition: all 700ms;
    right: 50px;
}
.slider-view-2 {
    transition: all 700ms;
    right: 380px;
}
.slider-view-3 {
    transition: all 700ms;
    right: 710px;
}
.slider-view-4 {
    transition: all 700ms;
    right: 1040px;
}
.box-slider {
    background-color: white;
    width: 310px;
    height: 120px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-right: 20px;
}
.slider-title {
    font-weight: 900;
    font-size: 1em;
    text-align: center;
    margin: 10px;
    color: rgb(0,93,173);
    letter-spacing: 0.05em;
    word-spacing: 0.2em;
}
.slider-text {
    font-size: .9em;
    color: rgb(96,96,96);
    text-align: center;
    border-bottom: 1px solid rgb(220,220,220,.6);
    display: block;
    padding-bottom: 15px;
}
.click-slider {
    text-align: center;
    color:  rgb(0,93,173);
    font-weight: 400;
    margin-top: 10px;
}
.click-slider:hover{
    cursor: pointer;
    opacity: .6;
}
.form-btn {
    grid-area: frm-btn;
    background-color: #EAEEF3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5px;
    padding: 10px;
}
.box-btn {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: rgb(48, 75, 228);
    margin-left: 8px;
    margin-right: 8px;
}
/* .btn-select {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: rgb(49, 46, 238);
    margin-left: 8px;
    margin-right: 8px;
} */
.form-input {
    grid-area: frm-input;
    background-color: rgb(234,238,243);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 2px solid rgb(0,114,206);
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.input-text {
    margin-left: 20px;
    border: none;
    background-color: transparent;
    color: rgb(64,64,64);
    font-family: poppins, sans-serif;
    outline: none;
}
.icon-smile {
    margin-right: 30px;
    font-size: 1.3em;
}
.exit-style {
    background-color: rgb(0,114,206);
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 1.7em;
    font-family: lato;
    font-weight: 300;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.form-exit {
    cursor: pointer;
    grid-area: frm-exit;
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.icon-arrow-left{
    display: none;
}
#avatarAna{
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: none;
}
.form-container {
    position: fixed;
    bottom: 70px;
}

.container-x-anna{
    display: none;
}

    
.search{
    display: none;
    justify-content: center;
    align-items: center;
    height: 10vh;

}
.search .lupa-hidden{
    margin: 7px;
    font-size: 1.4em;
}
.search .x-hidden{
    margin: 8px;
    font-size: 1.4em;
}