* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* body {
    background-image: url('/img/sodimac-homecenter.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */
.principal{
    width: 100%;
    display: grid;
    grid-template:"empty-1  barra empty 1"70px/
                   1fr       1250px    1fr ;
    justify-content: center;
  
}
.barra {
    width: 100%;
    grid-area: barra;
    display: grid;
    grid-template:"logo    busca    ubicacion   carrito   cmr   cuenta"70px/
                    220px    1fr       160px        110px   160px   106px ;
    justify-content: center;
}

.box {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.logo-hc{
    width: 100%;
}
.compra {
    background-color: rgb(221,0,33);
    color: white;
    width: 26px;
    height: 26px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


input[type="text"] {
    padding: 11px;
    margin-left: 2px;
    width: 100%;
    height: 100%;
    border: none;
}

input[type="text"]:focus {
    outline: none;
}

.buscador {
    grid-area: busca;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template:"buscador  lupa" 70px/
                    1fr         40px;
    margin-left: 20px;
    transition: width 0.10s;
}

.busca{
    width: 100%;
    align-items: center;
    justify-content: center;
    grid-area: buscador;
}

.lupa{
    width: 100%;
    grid: lupa;
    height: 38px;
    font-size: 1.3em;
    justify-content: center;
    align-items: center;
    display: flex;
}

.lupa:hover,.ubicacion:hover,.location:hover,.comprar:hover,.userlogo:hover,.cmr:hover,.logo-hc:hover{
    cursor: pointer;
}
.ubicacion{
    padding-left: 40px;
    display: flex;
    grid-area: ubicacion;
}
.location{
    font-size: 1.4em;
}
.para {
    font-size: 0.7em;
    text-align: left;
}
.cuidad{
    color: rgb(0,114,206);
    font-size: 1.3em;
}

.caul {
    font-size: 0.6em;
    text-align: left;
}

.cmr {
    display: flex;
}

.puntos,.carrito {
    font-size: 1.5em;
}

.comprar{
    margin-left: 10px;
    margin-right: 10px;
}

.burger,.x-salida,.buscador-movil,.logo-hc-mini{
    display: none;
}
.buscador.expandido {
    width: 100%;}

@media only screen and (max-width: 1250px) {
    .logo-hc{
        display: none;
    }

    .logo-hc-mini{
        display: flex;
        width: 100%;
    }

    .para,.cuidad,.caul,.puntos,.user,.cmr, .ubicacion,.busca{
        display: none;
    }
    .principal{
        width: 100%;
        display: grid;
        grid-template:"empty-1  barra empty 1"55px/
                       10px       1fr    10px ;
        justify-content: center;
        /* border-bottom: 1px solid grey; */
        
    }
    .burger{
        grid-area: burger;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8em;
    }
    .barra {
        width: 100%;
        grid-area: barra;
        display: grid;
        grid-template:"burger logo    lupa   carrito   cuenta"55px/
                       50px  40px     1fr       80px     40px ;
        justify-content: center;
        
    }
    .buscador{
        grid-area: lupa;
        text-align: right;
        margin: 0;
        display: flex;
        transition: width0.5s;
        min-height: 70px; /* Establece una altura mínima para el contenedor del buscador */
    transition: width 0.5s, min-height 0.5s; 
        
    }

    .lupa{
        
        right: 10px;
        display: flex;
        width: 100%;
        justify-content: right;
        margin-right: 30px;
    }

    .comprar{
        grid-area: carrito;
        padding: 0;
        margin: 0;
    }

    .userlogo{
        grid-area: cuenta;
        padding: 0;
        margin: 0;
        font-size: 1.2em;
    }
    .buscador-movil{
        background-color: white;
        width: 100%;
        height: 55px;
        position: absolute;
        display: none;
        align-items: center;
        justify-content: center ;
        grid-template: "lupaa buscadormini1 exit" 55px/
                        50px    1fr            30px;
                        min-height: 08px; /* Establece una altura mínima para el contenedor del buscador */
                        transition: width 0.10s, min-height 0.10s; 
    }
    .buscadormini{
        grid-area: buscadormini1;
    }

    .lupa2{
        grid-area: lupaa;
        justify-content: center;
        display: flex;
        font-size: 1.2em;
    }

    .x-salid{
        grid-area: exit;
    }

    .x-salid:hover{
        cursor: pointer;
    }
    input[type="text"] {
        padding: 10 px;
        margin-left: 2px;
        width: 100%;
        border: none;
        font-size: 1.1em;
    }
    .seekerCell-hidden{
        background-color: white;
        width: 100%;
        height: 55px;
        position: absolute;
        display: grid;
        align-items: center;
        justify-content: center ;
        grid-template: "lupaa buscadormini1 exit" 55px/
                        50px    1fr            30px;
    }    
}

.container-ana{
    cursor: pointer;
    background-color: bisque;
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(10, 111, 213);
    color: white;
}
.container-ana:hover{
    opacity: .8;
}
.x-anna{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.9vw;
    padding: 10px;
    color: #f5f5f5;
    border-radius: 100px;
    height: 4vh;
    background-color:rgb(28, 83, 138);
    position: fixed;
    top: 91vh;
    left: 93vw;
    font-size: 1.5rem;
    cursor: pointer;
}
.x-anna:hover{
    transition: 1s;
    background-color: #f5f5f5;
    color:rgb(71, 156, 241);
}
.container-x-anna{
    display: none;
}
.contenedor-ana{
    position: fixed;
    left: 75vw;
    top: 42vh;
    height: 48vh;
    width: 22vw;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.contenedor-ana1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 89vh;
    left: 79vw;
    width: 18vw;
    height: 100px;
    
}
.mensaje-ana{
    width: 70%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.message{
    font-size: .8rem;
    background-color: rgb(255, 255, 255);
    padding: 12px;
    border: 1px solid rgb(225, 225, 225);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}