.box{
    display: inline-block;
    width: 125px;
    height: 225px;
    letter-spacing:-.01em;
    word-spacing: -.01em;
    line-height: 1.5em;
    color: white;
    margin: 100px 0px 0px 15px ;
    padding:25px ;
    text-indent: 1em;
} 
.box-1{
    
    border: 5px solid rgb(36, 102, 100);
    background-color:rgb(27, 69, 67);
    margin-bottom: 20px;
    text-align: center;

}
.box-2{
    
    border: 5px dashed black;
    background-color:rgb(21, 80, 52);
  text-align: justify;
}
.box-3{
    
    text-align: justify;
    border: 5px groove black;
    background-color: rgb(125, 55, 171);

}
.box-4{
  
    text-align: right;
    border:5px dotted black;
background-color: rgb(45, 43, 91);

}
.box-5{
    text-align: left;
    border: 6px Double white;
    background-color: rgb(32, 35, 52);
   
     }
