*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bar-menu{
    color: rgb(255, 255, 255);
    font-size: 2.2em;
    position: fixed;
    visibility: hidden;
    top: 15px;
    left: 30px;
}
.main-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(147, 153, 153, 0.9);
    height: 80px;
}
.main-menu{
    list-style: none;
}
a{
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5em;
}

.item-main-menu:hover{
    cursor: pointer;
}
p{
    margin: 120px 60px;
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.3em;
}
.item-main-menu{
    display: inline-block;
    margin: 25px 50px;
    padding: 0 30px;

}
@media only screen and (max-width:1152px) {
    .main-menu{
        background-color: rgba(161, 90, 90, 0.9);
        margin-top: 81px;
        padding: 0;
        text-align: center;
    }
    .main-nav{
        height: 80px;;
    }
    .main-menu{
        display: none; 
    }
    .main-menu-visible{
        display: block;
        background-color: rgba(71, 94, 100, 0.9);
        margin-top: 81px;
        padding: 0;
        margin-bottom: 1px;
    }
    .menu-1{
        width: 100%;
        display: block;
        text-align: center;
        visibility: visible;
        border-bottom: 1px solid white;
        line-height: 70px;
        padding: 0;
    }
    .bar-menu{
        visibility: visible;
        left: 92%;
    }
    .bar-menu:hover{
        cursor: pointer;
    }
    .item-main-menu{
        display: block;
        color: black;
        text-align: center;
        position: relative;
    }

}