
/* ESTILOS POR DEFECTO */
*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
p{
    font-size: 15px;
}
img{
    max-width: 100%;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
ul{
    list-style: none;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
/* ESTILOS DE LA BARRA DE NAVACIÓN */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 0;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.nav-links li{
    color:  rgb(93, 95, 121);
    cursor: pointer;
}
.nav-links li:hover{
    color: rgb(123, 33, 25) 
}
/* ESTILOS PRINCIPALES */
.main-container{
    display: grid;
    /* gap: 2rem; */
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    max-height: 750px;
}
.main-blog{
    grid-column: 2 span;
    grid-row: 3rem;
}
.blog-info{
    display: flex;
    justify-content: space-between;
 
}
.blog-title{
    font-size: 3rem;
    color: rgb(0, 0, 26);
    width: 300px;
}
.blog-content{
    color:  rgb(93, 95, 121);
    width: 320px;
    line-height: 1.5;
}
.blog-read{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.blog-read button{
    background-color:  rgb(123, 33, 25);
    border: none;
    color: rgb(255, 253, 250);	
    width: 250px;
    padding: 1rem 2rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 700;
}
.blog-read button:hover{
    background-color: hsl(240, 100%, 5%);
}
.new{
    grid-column: 1 span;
    grid-row: 1 span;
    background-color:rgb(93, 95, 121);
}
.new-container{
    padding: 3rem;
    display: flex;
    flex-direction: column;
}
.header{
    color: rgb(233, 171, 83);
    font-size: 2rem;
}
.new-blogs{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    gap: 8rem;
}
.new-blog{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.new-blog::after{
    /* content: ""; */
    margin-top: 2rem;
    display: flex;
    width: 100%;
    height: 3px;
    width: 100%;
    background-color: rgb(197, 198, 206);
}
.new-blog:last-child::after{
    display: none;
}
.new-title:hover{
    color: rgb(233, 171, 83);
}
.new-title{
    color:  rgb(255, 253, 250);
    cursor: pointer;
}
.new-content{
    color:  rgb(197, 198, 206);
}

.top-blogs{
    display: flex;
    grid-column: 3 span;
    grid-row: 1 span;
    gap: 1rem;
    justify-content: space-between;
}
.top-blog{
    display: flex;
    align-items: center;
    height: fit-content;
}
.top-title{
    cursor: pointer;
    color:  rgb(0, 0, 26);
}
.top-title:hover{
    color:  rgb(123, 33, 25);
}
.top-blog img{
    width: 100px;
}
.top-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    height: 127px;
}
.num{
    color:  rgb(197, 198, 206);
    font-size: 2rem;
}
.top-content{
    color: rgb(93, 95, 121);
}
.menu{
    display: none;
}
@media screen and (max-width:800px) {
body{
    align-items: flex-start;
}

nav{
    padding-inline: 1rem;
}
.nav-links{
    display: none;
}
.menu{
    display: flex;
}
.main-container{
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
} 
.top-blogs{
    display: flex;
    flex-direction: column;
}
.blog-info{
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}
.blog-read{
    gap: 2rem;
    width: 100%;
}
.blog-title,.blog-content{
    width: 100%;
}
}


